<% content_for :title, "Prioritize · #{@project.name}" %>
<div class="level is-mobile">
  <div class="level-left">
    <div>
      <h1 class="title mb-1">Which matters more?</h1>
      <p class="subtitle is-6 has-text-weak"><%= link_to @project.name, project_path(@project) %></p>
    </div>
  </div>
  <div class="level-right"><%= link_to "View priorities", priorities_project_path(@project), class: "button" %></div>
</div>

<% if @pair %>
  <div data-svelte-component="Prioritize"
       data-props="<%= prioritize_props(project: @project, pair: @pair, count: @comparison_count, pinned: @pinned).to_json %>"></div>
<% else %>
  <div class="notification is-info is-light">
    <p>You need at least two open items in this project to prioritize. Add or reopen some items, then come back.</p>
  </div>
<% end %>
