<% content_for :title, "Projects" %>
<div class="level is-mobile">
  <div class="level-left"><h1 class="title">Projects</h1></div>
  <div class="level-right"><%= link_to "New project", new_project_path, class: "button is-primary" %></div>
</div>

<% if @projects.any? %>
  <nav class="panel">
    <% @projects.each do |project| %>
      <%= link_to project.name, project, class: "panel-block" %>
    <% end %>
  </nav>
<% else %>
  <p class="has-text-weak">No projects yet.</p>
<% end %>
