<% content_for :title, "#{@project.name} — Board" %>
<div class="level is-mobile">
  <div class="level-left"><h1 class="title"><%= @project.name %></h1></div>
  <div class="level-right">
    <%= link_to "Submit an idea or bug", new_public_submission_path(@project.public_token), class: "button is-primary" %>
  </div>
</div>

<%= turbo_stream_from @project, "items" %>
<%= render "items/board", project: @project %>
