<p>Hi <%= @user.username %>,</p>

<p>Use the link below to sign in to Project Tracker. It expires in 20 minutes and works on any device.</p>

<p><%= link_to "Sign in to Project Tracker", @url %></p>

<p>If you didn't request this, you can safely ignore this email.</p>
