<% content_for :title, "Sign in" %>
<div class="columns is-centered">
  <div class="column is-half-tablet is-one-third-widescreen">
    <h1 class="title">Sign in</h1>
    <p class="subtitle is-6">Confirm sign-in as <strong><%= @user.email %></strong>.</p>

    <div class="box">
      <%= button_to "Sign in", email_sign_in_path(token: params[:token]), method: :post,
            class: "button is-primary is-fullwidth" %>
    </div>
  </div>
</div>
